*{
  padding: 0;
  margin: 0;
  box-sizing: border-box; /* The box-sizing property defines how the width and height of an element are calculated: should they include padding and borders, or not. */

}

html {
  font-family: "Roboto", sans-serif;
}

body {
  background: #eee;
}

.header-container {
  background-color: #313136;
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.8);
}

h1 {
  font-size: 30px;
  color: #c0c0c0;
}

.footer-div {
  background-color: #313136;
  padding: 5px;
  position: fixed;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 3rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.8);
}
/*
The bottom property affects the vertical position of a positioned element. This property has no effect on non-positioned elements.
ref : https://www.w3schools.com/cssref/pr_pos_bottom.asp
If position: absolute; or position: fixed; - the bottom property sets the bottom edge of an element to a unit above/below the bottom edge of its nearest positioned ancestor.
If position: relative; - the bottom property makes the element's bottom edge to move above/below its normal position.
If position: sticky; - the bottom property behaves like its position is relative when the element is inside the viewport, and like its position is fixed when it is outside.
If position: static; - the bottom property has no effect.
*/
.about-author {
  color: #c0c0c0;
  font-weight: lighter;
  font-size: 15px;
}
.note {
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: auto;
  margin: 16px;
  float: left;
}
.note h1 {
  font-size: 1.1em;
  color: #000000;
  margin-bottom: 6px;
}
.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note button {
  position: relative;
  float: right;
  margin-right: 10px;
  color: #000000;
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
  font-size: 25px;
}

form {
  position: relative;
  width: 320px;
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}
form input,
form textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}

form button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: #000000;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
  font-size: 25px;
}